# dependencies
node_modules
.pnp
.pnp.js

# build
dist
.next
out
build
.turbo

# env
.env
.env*.local
e2e/.env
.data

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
e2e/.pw-user-data/
